/*.boardflow-wrapper .react-flow__pane {*/
/*    cursor: default !important;*/
/*}*/
.editing svg text {
    display: none;
}









.react-flow__resize-control::after {
    content: '';
    position: absolute;
    inset: -12px;

    cursor: nwse-resize;

    background: transparent;
}